/* ANIMACIONES */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
/* sintaxis de variable en css. Keyframes hace referencia a los fotogramas de la animación. Funciona como en premiere.
coge un elemento y lo traslada a lo largo del eje y desde fuera de la pantalla (-100) a su lugar (0). */
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
    }

/* ESTILOS */
*{
    text-decoration: none;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: aliceblue;
    font-family: 'Roboto', sans-serif;
}

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    align-items: center;
    background-image: url(img/computers.jpg);
    background-size:cover;
}

main{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    align-items: center;
    background-color: rgb(13, 5, 18, 0.8);
}

nav{
    animation: 1s slideInFromLeft;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100px;
    position: fixed;
    top: 0px;
    left: 0px;
    background-image: url(img/code_small.jpg);
    background-size:contain;
}

    .logo{
        position: absolute;
        top: center;
        left: 0px;
        margin-left: 3%;
        font-size: 180%;
        background-color: black;
        padding: 10px;
    }

    .menulink:hover{
        color: rgb(242, 158, 71);
        font-family: monaco,Consolas,Lucida Console,monospace;
    }

    nav a{
        padding-right:20px;
        padding-left:20px;
        background-color: black;
        font-size: 150%;

    }

footer{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 50px;
    gap: 20px;
    width: 100%;
    height: 100px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    background-color: rgb(47, 79, 79,0.8);
    font-size: 200%;
}

.main_content{
    animation-name: fadeIn;
    animation-duration: 3s;
    margin-top: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

    .introduction{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 5%;
        padding: 20px;
        width: 30%;
        height: 100%;
        background-color: rgb(13, 5, 18, 0.8);
    }
        .introduction h1 span{
            font-family: monaco,Consolas,Lucida Console,monospace;
            color:rgb(41, 170, 190);
        }
        .introduction h2{
            font-family: monaco,Consolas,Lucida Console,monospace;
        }

        .social_mini{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }

        .social_mini img:hover{
                transform:scale(1.5);
                transition: transform 0.5s;
        }

.tech_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    height: 800px;
    background-color: rgba(255, 255, 255, 0.7);
    gap: 10px;
    }

    .tech_container p{
        color: black;
    }
    .tech_container h1{
        color: black;
    }
    .tech_container h2{
        color: black;
    }
    .tech_container h3{
        color: rgb(255, 255, 255);
        background-color: black;
        font-family: monaco,Consolas,Lucida Console,monospace;
        text-align: center;
    }

    .title_tech_container{
        position: absolute;
        top: 400px;
    }
        .title_tech_container h1{
            font-family: monaco,Consolas,Lucida Console,monospace;
        }

    .tech{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 10px;
    width: 20%;
    border: 2px dotted grey;
    }

    .tech:hover{
        transform:scale(1.5);
        background-color: rgb(255, 255, 255,0.8);
        transition: background-color 0.5s;
        transition: transform 0.5s;
    }

    .tech_logo{
        display: flex;
    }

    .tech_desc{
        display: flex;
        flex-direction: column;
        padding: 5px;
    }

.project_container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    width: 80%;
    background-color: rgba(255, 255, 255, 0.7);
    gap: 30px;
    }


    .project{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        width: 70%;
        padding: 20px;
        gap: 10px;
        border-bottom: dotted grey;
    }

        .project_title h1{
            font-family: monaco,Consolas,Lucida Console,monospace;
            background-color: black;
            color: white;
        }

        .project_desc h2{
            font-family: monaco,Consolas,Lucida Console,monospace;
            background-color: black;
            color: white;
        }

        .project_desc p{
            color: black;
        }

        .project_gallery{
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            position: relative;
            top:50%;
            bottom: 50%;
            left: 50%;
            right: 50%;

        }

            .project_gallery img{
                width: 200px;
            }

        .project_icons{
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
            gap: 15px;
        }
            .project_icons img{
                width: 80px;
            }

        .project_link{
            flex-direction: row;
            align-items: center;
            justify-content: flex-start;
            position: relative;
        }

        .project_link span{
            font-family: monaco,Consolas,Lucida Console,monospace;
            background-color: black;
            color: white;
            font-size: 150%;
        }

.form{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 15px;
}
    form{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: center;
        gap: 5px;
    }
    .form h1{
        font-family: monaco,Consolas,Lucida Console,monospace;
        background-color: black;
        color: white;
    }
    .sendButton{
        font-family: monaco,Consolas,Lucida Console,monospace;
        background-color: black;
        color: white;
        font-size: 200%;
    }